language: rust
services: docker
sudo: required

branches:
  except:
    - dev

env:
  global:
  - RUSTFLAGS="-C link-dead-code"
  - CRATE_NAME=rsbx

matrix:
  include:
    # Linux
    - env: TARGET=aarch64-unknown-linux-gnu
    - env: TARGET=arm-unknown-linux-gnueabi
    - env: TARGET=armv7-unknown-linux-gnueabihf
    - env: TARGET=i686-unknown-linux-gnu
    - env: TARGET=i686-unknown-linux-musl
    - env: TARGET=x86_64-unknown-linux-gnu
    - env: TARGET=x86_64-unknown-linux-musl

    # OSX
    - env: TARGET=i686-apple-darwin
      os: osx
    - env: TARGET=x86_64-apple-darwin
      os: osx

    # *BSD
    - env: TARGET=i686-unknown-freebsd DISABLE_TESTS=1
    - env: TARGET=x86_64-unknown-freebsd DISABLE_TESTS=1
    - env: TARGET=x86_64-unknown-netbsd DISABLE_TESTS=1

    # Windows
    - env: TARGET=x86_64-pc-windows-gnu

    # Testing other channels
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: beta
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly

before_install:
  - set -e
  - rustup self update

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - rm -rf target/cov
  # - cargo build --verbose --all
  - cargo test  --verbose --all
  - bash install_kcov.sh
  # - bash cov_tests/dev_tests.sh
  # - bash tests/dev_tests.sh

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake
      - gcc
      - binutils-dev
      - libiberty-dev

after_success: |
  TARGET=$HOME/kcov &&
  export PATH=$TARGET/bin:$PATH &&
  for file in target/debug/rsbx-*; do if [[ $file == *.d ]]; then continue; fi; kcov --exclude-pattern=/.cargo,/usr/lib --verify "target/cov/rsbx" "$file"; done &&
  wget https://codecov.io/bash -O codecov_uploader &&
  chmod u+x codecov_uploader &&
  ./codecov_uploader -s "target/cov/rsbx" &&
  echo "Uploaded code coverage to Codecov" &&
  for file in target/debug/rsbx-*; do if [[ $file == *.d ]]; then continue; fi; kcov --coveralls-id=$TRAVIS_JOB_ID --exclude-pattern=/.cargo,/usr/lib --verify "target/cov/rsbx" "$file"; done &&
  echo "Uploaded code coverage to Coveralls"

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  # - Create a `public_repo` GitHub token. Go to: https://github.com/settings/tokens/new
  # - Encrypt it: `travis encrypt 0123456789012345678901234567890123456789
  # - Paste the output down here
  api_key:
    secure: "j0BTFFfnfsUiNweG7r/KQ8TeNrJvrtPz+zGGMx8Y3rmr5WnuULV0XRDjwrQjY5jmsvj+K3bIdM9LRMJuWVEg2Yo2JtZU0NXLfalhJ+jSXvVbjIG1rchjzaLTZnC8Z1kGKy0KGEgpiIQfCH6W77pGREQxd0UDj50dPNmo+Or3UkF+UwXEys75yN/rGSDs+Ys0JFpXwLoscC6egEDexPBF1GvgJwqZwnCjmJDnxmz1/asp9TugUM4RCCAkpvzWFbuXQYlKc8/vdHHX/AyokyCsKPCjuXgBpnZChiUbRFcBPCyGorxAk64vfPIMUiItEEYD+d995q7bVDqeF4qtErBGg+Rcm/WfTblLF2R5/gQnc9GWqhBxlhQ4pSd00nrFyXZHxDjA5lZ7mQ5auJUt4zbQffZOgE4CJFFUIVAAv9WtwgMjtzbcx3I+seor7loe+ngk8Qga2hpzw2EwAL5RWnIMUf63OiEHflNIAa58ltb24l2yn/kw5O+zFCaGjxZpdrUDPFLM7pDNRHMyOtptwqRJnHrZQpZxyelK5MYF20C6NtkU9UDr2Iiu8NE8bbMAE673YLh9aA4O6w7LI9ztSag9o2/lQSVDzML3WtDGCeh7U1ilPWe44kKco/Pp5zstO28DNDVZxxODxQDRdqB5+qE6ZKoxcS1VxWTSe9GVjPFpZU0="
  file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    # In this example, there are some targets that are tested using the stable
    # and nightly channels. This condition makes sure there is only one release
    # for such targets and that's generated using the stable channel
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

notifications:
  email:
    on_success: never
