[package]
name    = "rsbx"
version = "1.1.3"
authors = ["Darren Ldl <darrenldldev@gmail.com>"]
build   = "build.rs"
exclude = [
    "ci/*",
    "tests/*",
    "cov_tests/*",
    "crc-ccitt/*",
    "libcrc_crcccitt/*",
    "appveyor.yml",
    ".travis.yml"
]

description   = "Enhanced implementation of SeqBox in Rust"

documentation = "https://darrenldl.gitbooks.io/rsbx-manual/content/"
homepage      = "https://github.com/darrenldl/rust-SeqBox"
repository    = "https://github.com/darrenldl/rust-SeqBox"

readme        = "README.md"

keywords    = [
    "SeqBox",
    "backup",
    "data-recovery",
    "reed-solomon",
    "archive"
]

categories  = ["command-line-utilities", "encoding"]

license     = "MIT"

[[bin]]
name = "rsbx"
path = "src/bin/main.rs"
doc  = false

[lib]
name = "rsbx_lib"
path = "src/lib.rs"
doc  = false

[dependencies]
reed-solomon-erasure = { version = "3.1", features = ["pure-rust"] }
ring                 = "0.13.2"
blake2_c             = "0.3"
rand                 = "0.5.4"
smallvec             = "0.6"
nom                  = "4.0"
chrono               = "0.4"
clap                 = "2.30.0"
ctrlc                = "3.1"

[dev-dependencies]
quickcheck = "0.7"
